
Warning: Module "openssl" is already loaded in Unknown on line 0
CREATE TABLE user_blocks (user_source INT NOT NULL, user_target INT NOT NULL, INDEX IDX_ABBF8E453AD8644E (user_source), INDEX IDX_ABBF8E45233D34C1 (user_target), PRIMARY KEY (user_source, user_target)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE user_blocks ADD CONSTRAINT FK_ABBF8E453AD8644E FOREIGN KEY (user_source) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE user_blocks ADD CONSTRAINT FK_ABBF8E45233D34C1 FOREIGN KEY (user_target) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE chatbot_conversation DROP FOREIGN KEY `chatbot_conversation_ibfk_1`;
ALTER TABLE employe_competence DROP FOREIGN KEY `employe_competence_ibfk_1`;
ALTER TABLE notification_config DROP FOREIGN KEY `notification_config_ibfk_1`;
ALTER TABLE tache_competence_requise DROP FOREIGN KEY `tache_competence_requise_ibfk_1`;
DROP TABLE avis;
DROP TABLE chatbot_conversation;
DROP TABLE employe_competence;
DROP TABLE notif_market;
DROP TABLE notification_config;
DROP TABLE tache_competence_requise;
ALTER TABLE participation DROP FOREIGN KEY `participation_ibfk_1`;
ALTER TABLE participation DROP FOREIGN KEY `participation_ibfk_2`;
ALTER TABLE evenement DROP FOREIGN KEY `evenement_ibfk_1`;
ALTER TABLE produits CHANGE uniteMesure uniteMesure ENUM('Kg','L','Piece') NOT NULL, CHANGE remise remise DOUBLE PRECISION DEFAULT 0 NOT NULL;
ALTER TABLE maintenance DROP FOREIGN KEY `fk_maintenance_materiel`;
ALTER TABLE parcelle CHANGE surface surface NUMERIC(10, 2) NOT NULL, CHANGE localisation localisation VARCHAR(255) NOT NULL, CHANGE type_sol type_sol VARCHAR(100) NOT NULL, CHANGE systeme_irrigation systeme_irrigation VARCHAR(100) NOT NULL, CHANGE statut statut VARCHAR(50) DEFAULT 'active' NOT NULL, CHANGE agriculteur_id agriculteur_id INT NOT NULL, CHANGE latitude latitude NUMERIC(10, 6) DEFAULT NULL, CHANGE longitude longitude NUMERIC(10, 6) DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL, CHANGE updated_at updated_at DATETIME NOT NULL;
ALTER TABLE parcelle RENAME INDEX fk_parcelle_agriculteur TO IDX_C56E2CF67EBB810E;
ALTER TABLE diagnostic DROP FOREIGN KEY `fk_diagnostic_user`;
ALTER TABLE diagnostic CHANGE date_scan date_scan DATETIME DEFAULT NULL, CHANGE confiance confiance DOUBLE PRECISION DEFAULT 0, CHANGE user_id user_id INT DEFAULT NULL;
ALTER TABLE diagnostic ADD CONSTRAINT FK_FA7C8889A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE diagnostic RENAME INDEX fk_diagnostic_user TO IDX_FA7C8889A76ED395;
ALTER TABLE community_posts DROP FOREIGN KEY `community_posts_ibfk_1`;
ALTER TABLE community_posts CHANGE description description LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE community_posts ADD CONSTRAINT FK_F32DC0BEA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE community_posts ADD CONSTRAINT FK_F32DC0BEE50890C4 FOREIGN KEY (solution_comment_id) REFERENCES community_comments (id);
CREATE INDEX IDX_F32DC0BEE50890C4 ON community_posts (solution_comment_id);
ALTER TABLE community_posts RENAME INDEX user_id TO IDX_F32DC0BEA76ED395;
ALTER TABLE community_comments DROP FOREIGN KEY `community_comments_ibfk_1`;
ALTER TABLE community_comments DROP FOREIGN KEY `community_comments_ibfk_2`;
ALTER TABLE community_comments DROP FOREIGN KEY `fk_parent_comment`;
ALTER TABLE community_comments CHANGE content content LONGTEXT NOT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE community_comments ADD CONSTRAINT FK_ADD8530D4B89032C FOREIGN KEY (post_id) REFERENCES community_posts (id);
ALTER TABLE community_comments ADD CONSTRAINT FK_ADD8530DA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE community_comments ADD CONSTRAINT FK_ADD8530DBF2AF943 FOREIGN KEY (parent_comment_id) REFERENCES community_comments (id);
ALTER TABLE community_comments RENAME INDEX post_id TO IDX_ADD8530D4B89032C;
ALTER TABLE community_comments RENAME INDEX user_id TO IDX_ADD8530DA76ED395;
ALTER TABLE community_comments RENAME INDEX fk_parent_comment TO IDX_ADD8530DBF2AF943;
ALTER TABLE user ADD avatar VARCHAR(255) DEFAULT NULL, ADD bio LONGTEXT DEFAULT NULL, CHANGE role role ENUM('ADMIN','AGRICULTEUR','CLIENT','AGRONOME') NOT NULL DEFAULT 'AGRICULTEUR', CHANGE points points INT DEFAULT 0 NOT NULL, CHANGE level level INT DEFAULT 1 NOT NULL, CHANGE two_factor_enabled two_factor_enabled TINYINT DEFAULT 0 NOT NULL, CHANGE fingerprint_signature fingerprint_signature LONGTEXT DEFAULT NULL, CHANGE points_fidelite points_fidelite DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE reset_password_code reset_password_code VARCHAR(255) DEFAULT NULL;
ALTER TABLE farm_health_report DROP FOREIGN KEY `farm_health_report_ibfk_1`;
ALTER TABLE farm_health_report CHANGE llava_analysis llava_analysis LONGTEXT DEFAULT NULL, CHANGE generated_at generated_at DATETIME DEFAULT NULL;
ALTER TABLE farm_health_report ADD CONSTRAINT FK_5D3720A82827AAD3 FOREIGN KEY (scan_id) REFERENCES farm_health_scan (id);
ALTER TABLE farm_health_report RENAME INDEX scan_id TO IDX_5D3720A82827AAD3;
ALTER TABLE prevention_plan DROP FOREIGN KEY `prevention_plan_ibfk_1`;
ALTER TABLE prevention_plan CHANGE problem_summary problem_summary LONGTEXT DEFAULT NULL, CHANGE steps steps LONGTEXT NOT NULL, CHANGE estimated_cost estimated_cost DOUBLE PRECISION DEFAULT NULL, CHANGE expected_outcome expected_outcome LONGTEXT DEFAULT NULL, CHANGE impact_level impact_level ENUM('HIGH','MEDIUM','LOW'), CHANGE status status ENUM('ACTIVE','COMPLETED','ABANDONED') DEFAULT 'ACTIVE', CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE prevention_plan ADD CONSTRAINT FK_873E4A574BD2A4C0 FOREIGN KEY (report_id) REFERENCES farm_health_report (id);
ALTER TABLE prevention_plan RENAME INDEX report_id TO IDX_873E4A574BD2A4C0;
ALTER TABLE prevention_plan RENAME INDEX vulnerability_id TO IDX_873E4A5772897D8B;
ALTER TABLE prevention_task DROP FOREIGN KEY `prevention_task_ibfk_1`;
ALTER TABLE prevention_task CHANGE status status ENUM('PENDING','COMPLETED','MISSED') DEFAULT 'PENDING';
ALTER TABLE prevention_task ADD CONSTRAINT FK_81ACA0FC44547A6 FOREIGN KEY (prevention_plan_id) REFERENCES prevention_plan (id);
ALTER TABLE prevention_task RENAME INDEX prevention_plan_id TO IDX_81ACA0FC44547A6;
ALTER TABLE offre CHANGE prix_mensuel prix_mensuel DOUBLE PRECISION NOT NULL, CHANGE avantages avantages LONGTEXT DEFAULT NULL, CHANGE couleur_primaire couleur_primaire VARCHAR(20) DEFAULT '#6B7F3F', CHANGE couleur_secondaire couleur_secondaire VARCHAR(20) DEFAULT '#4A5A2B', CHANGE date_creation date_creation DATETIME DEFAULT NULL;
ALTER TABLE treatment_plan DROP FOREIGN KEY `treatment_plan_ibfk_1`;
ALTER TABLE treatment_plan CHANGE start_date start_date DATETIME DEFAULT NULL, CHANGE status status ENUM('ACTIVE','COMPLETED','ABANDONED') DEFAULT 'ACTIVE';
ALTER TABLE treatment_plan ADD CONSTRAINT FK_1E99976C224CCA91 FOREIGN KEY (diagnostic_id) REFERENCES diagnostic (id);
ALTER TABLE treatment_plan RENAME INDEX diagnostic_id TO IDX_1E99976C224CCA91;
ALTER TABLE treatment_task DROP FOREIGN KEY `treatment_task_ibfk_1`;
ALTER TABLE treatment_task CHANGE status status ENUM('PENDING','COMPLETED','MISSED') DEFAULT 'PENDING', CHANGE tech_x tech_x DOUBLE PRECISION DEFAULT NULL, CHANGE tech_y tech_y DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE treatment_task ADD CONSTRAINT FK_91BD1734905FC057 FOREIGN KEY (treatment_plan_id) REFERENCES treatment_plan (id);
ALTER TABLE treatment_task RENAME INDEX treatment_plan_id TO IDX_91BD1734905FC057;
DROP INDEX qr_code_unique ON employe;
ALTER TABLE notification DROP FOREIGN KEY `notification_ibfk_1`;
ALTER TABLE notification DROP FOREIGN KEY `notification_ibfk_2`;
ALTER TABLE notification DROP FOREIGN KEY `notification_ibfk_3`;
DROP INDEX notification_ibfk_2 ON notification;
DROP INDEX notification_ibfk_3 ON notification;
ALTER TABLE evenement_favoris DROP FOREIGN KEY `evenement_favoris_ibfk_1`;
ALTER TABLE evenement_favoris DROP FOREIGN KEY `evenement_favoris_ibfk_2`;
ALTER TABLE commande CHANGE total total DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE frais_livraison frais_livraison DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE montantRemise montantRemise DOUBLE PRECISION DEFAULT 0 NOT NULL;
ALTER TABLE coupon CHANGE typeReduction typeReduction ENUM('POURCENTAGE', 'FIXE') NOT NULL, CHANGE montantMin montantMin DOUBLE PRECISION DEFAULT 0 NOT NULL;
ALTER TABLE panier CHANGE totalMontant totalMontant DOUBLE PRECISION DEFAULT 0 NOT NULL;
ALTER TABLE materiel DROP FOREIGN KEY `fk_materiel_user`;
DROP INDEX fk_materiel_user ON materiel;
ALTER TABLE materiel DROP google_calendar_event_id, DROP frequence_maintenance_mois;
ALTER TABLE abonnement DROP FOREIGN KEY `fk_abonnement_offre`;
ALTER TABLE abonnement DROP FOREIGN KEY `fk_user_abonnement`;
ALTER TABLE abonnement CHANGE type type VARCHAR(100) DEFAULT NULL, CHANGE prix prix DOUBLE PRECISION NOT NULL, CHANGE date_debut date_debut DATE DEFAULT NULL, CHANGE date_fin date_fin DATE DEFAULT NULL, CHANGE statut statut VARCHAR(50) DEFAULT 'ACTIF', CHANGE user_id user_id INT DEFAULT NULL;
ALTER TABLE abonnement ADD CONSTRAINT FK_351268BBA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE abonnement ADD CONSTRAINT FK_351268BB4CC8505A FOREIGN KEY (offre_id) REFERENCES offre (id);
ALTER TABLE abonnement RENAME INDEX fk_user_abonnement TO IDX_351268BBA76ED395;
ALTER TABLE abonnement RENAME INDEX fk_abonnement_offre TO IDX_351268BB4CC8505A;
ALTER TABLE badge CHANGE condition_type condition_type ENUM('DIAGNOSTIC','POINTS','HEALTHY_PLANTS','SOLUTION') DEFAULT 'DIAGNOSTIC';
ALTER TABLE community_likes DROP FOREIGN KEY `community_likes_ibfk_1`;
ALTER TABLE community_likes DROP FOREIGN KEY `community_likes_ibfk_2`;
ALTER TABLE community_likes DROP FOREIGN KEY `community_likes_ibfk_3`;
ALTER TABLE community_likes CHANGE vote_type vote_type ENUM('LIKE','DISLIKE') NOT NULL DEFAULT 'LIKE', CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE community_likes ADD CONSTRAINT FK_32BA3439A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE community_likes ADD CONSTRAINT FK_32BA34394B89032C FOREIGN KEY (post_id) REFERENCES community_posts (id);
ALTER TABLE community_likes ADD CONSTRAINT FK_32BA3439F8697D13 FOREIGN KEY (comment_id) REFERENCES community_comments (id);
ALTER TABLE community_likes RENAME INDEX post_id TO IDX_32BA34394B89032C;
ALTER TABLE community_likes RENAME INDEX comment_id TO IDX_32BA3439F8697D13;
ALTER TABLE community_reports CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE community_reports RENAME INDEX idx_reporter TO IDX_D5DACE16E1CFE6F5;
ALTER TABLE community_reports RENAME INDEX idx_post TO IDX_D5DACE164B89032C;
ALTER TABLE community_reports RENAME INDEX idx_comment TO IDX_D5DACE16F8697D13;
ALTER TABLE farm_health_scan DROP FOREIGN KEY `farm_health_scan_ibfk_1`;
ALTER TABLE farm_health_scan CHANGE concerns concerns LONGTEXT DEFAULT NULL, CHANGE scan_date scan_date DATETIME DEFAULT NULL, CHANGE status status ENUM('PENDING','PROCESSING','COMPLETED','FAILED') DEFAULT 'PENDING';
ALTER TABLE farm_health_scan ADD CONSTRAINT FK_C32EEC75A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE farm_health_scan RENAME INDEX user_id TO IDX_C32EEC75A76ED395;
ALTER TABLE moderation_audit CHANGE action action VARCHAR(50) NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE moderation_audit RENAME INDEX idx_moderator TO IDX_614218EDD0AFA354;
ALTER TABLE moderation_audit RENAME INDEX idx_target TO IDX_614218ED6C066AFE;
ALTER TABLE review DROP FOREIGN KEY `review_ibfk_1`;
ALTER TABLE review DROP FOREIGN KEY `review_ibfk_2`;
ALTER TABLE review DROP FOREIGN KEY `review_ibfk_3`;
ALTER TABLE review CHANGE review_type review_type ENUM('DIAGNOSIS','PROGRESS','PREVENTION') NOT NULL, CHANGE status status ENUM('PENDING','IN_PROGRESS','COMPLETED') DEFAULT 'PENDING', CHANGE ai_analysis ai_analysis LONGTEXT DEFAULT NULL, CHANGE expert_notes expert_notes LONGTEXT DEFAULT NULL, CHANGE expert_verdict expert_verdict ENUM('CONTINUE','HEALED','WORSENED'), CHANGE farmer_response farmer_response ENUM('ACCEPTED','REJECTED','ACKNOWLEDGED'), CHANGE ai_proposed_plan ai_proposed_plan LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE review ADD CONSTRAINT FK_794381C6224CCA91 FOREIGN KEY (diagnostic_id) REFERENCES diagnostic (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6905FC057 FOREIGN KEY (treatment_plan_id) REFERENCES treatment_plan (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6C5568CE4 FOREIGN KEY (expert_id) REFERENCES user (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6C44547A6 FOREIGN KEY (prevention_plan_id) REFERENCES prevention_plan (id);
CREATE INDEX IDX_794381C6C44547A6 ON review (prevention_plan_id);
ALTER TABLE review RENAME INDEX diagnostic_id TO IDX_794381C6224CCA91;
ALTER TABLE review RENAME INDEX treatment_plan_id TO IDX_794381C6905FC057;
ALTER TABLE review RENAME INDEX expert_id TO IDX_794381C6C5568CE4;
ALTER TABLE traitement CHANGE description_detaillee description_detaillee LONGTEXT DEFAULT NULL, CHANGE type_traitement type_traitement ENUM('FONGICIDE','HERBICIDE','INSECTICIDE','BACTERICIDE','NEMATICIDE','VIRUCIDE','NUTRIMENT','REGULATEUR_CROISSANCE','AUTRE') DEFAULT 'AUTRE';
ALTER TABLE traitement ADD CONSTRAINT FK_2A356D27224CCA91 FOREIGN KEY (diagnostic_id) REFERENCES diagnostic (id);
CREATE INDEX IDX_2A356D27224CCA91 ON traitement (diagnostic_id);
ALTER TABLE user_badge CHANGE acquired_at acquired_at DATETIME DEFAULT NULL;
ALTER TABLE user_badge RENAME INDEX badge_id TO IDX_1C32B345F7A2C2FC;
ALTER TABLE vulnerability DROP FOREIGN KEY `vulnerability_ibfk_1`;
ALTER TABLE vulnerability CHANGE type type ENUM('PEST_OUTBREAK_RISK','DISEASE_RISK','NUTRIENT_DEFICIENCY','LOW_POLLINATION','SOIL_DEGRADATION') NOT NULL, CHANGE severity severity ENUM('CRITICAL','MEDIUM','LOW') NOT NULL, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE risk_score risk_score DOUBLE PRECISION DEFAULT NULL, CHANGE estimated_cost_if_occurs estimated_cost_if_occurs DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE vulnerability ADD CONSTRAINT FK_6C4E40474BD2A4C0 FOREIGN KEY (report_id) REFERENCES farm_health_report (id);
ALTER TABLE vulnerability RENAME INDEX report_id TO IDX_6C4E40474BD2A4C0;
