CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750 (queue_name, available_at, delivered_at, id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE avis DROP FOREIGN KEY `avis_ibfk_1`;
ALTER TABLE avis DROP FOREIGN KEY `avis_ibfk_2`;
ALTER TABLE chatbot_conversation DROP FOREIGN KEY `chatbot_conversation_ibfk_1`;
ALTER TABLE coupon_utilisation DROP FOREIGN KEY `coupon_utilisation_ibfk_1`;
ALTER TABLE coupon_utilisation DROP FOREIGN KEY `coupon_utilisation_ibfk_2`;
ALTER TABLE culture DROP FOREIGN KEY `culture_ibfk_1`;
ALTER TABLE employe_competence DROP FOREIGN KEY `employe_competence_ibfk_1`;
ALTER TABLE evenement DROP FOREIGN KEY `evenement_ibfk_1`;
ALTER TABLE evenement_favoris DROP FOREIGN KEY `evenement_favoris_ibfk_1`;
ALTER TABLE evenement_favoris DROP FOREIGN KEY `evenement_favoris_ibfk_2`;
ALTER TABLE livraison DROP FOREIGN KEY `livraison_ibfk_1`;
ALTER TABLE maintenance DROP FOREIGN KEY `fk_maintenance_materiel`;
ALTER TABLE materiel DROP FOREIGN KEY `fk_materiel_user`;
ALTER TABLE notification DROP FOREIGN KEY `notification_ibfk_1`;
ALTER TABLE notification DROP FOREIGN KEY `notification_ibfk_2`;
ALTER TABLE notification DROP FOREIGN KEY `notification_ibfk_3`;
ALTER TABLE notification_config DROP FOREIGN KEY `notification_config_ibfk_1`;
ALTER TABLE notification_preferences DROP FOREIGN KEY `fk_pref_user`;
ALTER TABLE notif_market DROP FOREIGN KEY `notif_market_ibfk_1`;
ALTER TABLE notif_market DROP FOREIGN KEY `notif_market_ibfk_2`;
ALTER TABLE notif_market DROP FOREIGN KEY `notif_market_ibfk_3`;
ALTER TABLE parcelle DROP FOREIGN KEY `parcelle_ibfk_1`;
ALTER TABLE participation DROP FOREIGN KEY `participation_ibfk_1`;
ALTER TABLE participation DROP FOREIGN KEY `participation_ibfk_2`;
ALTER TABLE tache_competence_requise DROP FOREIGN KEY `tache_competence_requise_ibfk_1`;
ALTER TABLE wishlist DROP FOREIGN KEY `fk_wish_produit`;
ALTER TABLE wishlist DROP FOREIGN KEY `fk_wish_user`;
DROP TABLE avis;
DROP TABLE chatbot_conversation;
DROP TABLE coupon;
DROP TABLE coupon_utilisation;
DROP TABLE culture;
DROP TABLE employe;
DROP TABLE employe_competence;
DROP TABLE evenement;
DROP TABLE evenement_favoris;
DROP TABLE livraison;
DROP TABLE maintenance;
DROP TABLE materiel;
DROP TABLE notification;
DROP TABLE notifications;
DROP TABLE notification_config;
DROP TABLE notification_preferences;
DROP TABLE notif_market;
DROP TABLE parcelle;
DROP TABLE participation;
DROP TABLE reclamation;
DROP TABLE tache;
DROP TABLE tache_competence_requise;
DROP TABLE wishlist;
ALTER TABLE commande DROP FOREIGN KEY `commande_ibfk_1`;
ALTER TABLE commande DROP FOREIGN KEY `commande_ibfk_2`;
DROP INDEX idCoupon ON commande;
ALTER TABLE commande DROP idCoupon, DROP frais_livraison, DROP mode_livraison, DROP payee_par_points, CHANGE etat etat VARCHAR(50) DEFAULT 'en_cours' NOT NULL, CHANGE total total DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE dateCommande date_commande DATE NOT NULL;
ALTER TABLE commande ADD CONSTRAINT FK_6EEAA67DFE6E88D7 FOREIGN KEY (idUser) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE commande RENAME INDEX idx_commande_iduser TO IDX_6EEAA67DFE6E88D7;
ALTER TABLE detailscommande DROP FOREIGN KEY `detailscommande_ibfk_2`;
ALTER TABLE detailscommande ADD prix_unitaire DOUBLE PRECISION NOT NULL, DROP prixUnitaire;
ALTER TABLE detailscommande ADD CONSTRAINT FK_FCF13E11391C87D5 FOREIGN KEY (idProduit) REFERENCES produits (idProduit) ON DELETE CASCADE;
ALTER TABLE detailscommande RENAME INDEX idx_details_idcommande TO IDX_FCF13E113D498C26;
ALTER TABLE detailscommande RENAME INDEX idx_details_idproduit TO IDX_FCF13E11391C87D5;
ALTER TABLE panier CHANGE dateCreation dateCreation DATE NOT NULL, CHANGE totalMontant totalMontant DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE totalProduits totalProduits INT DEFAULT 0 NOT NULL;
ALTER TABLE panier RENAME INDEX idx_panier_iduser TO IDX_24CC0DF2FE6E88D7;
ALTER TABLE panier_produits DROP FOREIGN KEY `panier_produits_ibfk_1`;
ALTER TABLE panier_produits DROP FOREIGN KEY `panier_produits_ibfk_2`;
ALTER TABLE panier_produits CHANGE quantite quantite INT DEFAULT 1 NOT NULL;
ALTER TABLE panier_produits ADD CONSTRAINT FK_2468D6FE47DDA568 FOREIGN KEY (idPanier) REFERENCES panier (idPanier) ON DELETE CASCADE;
ALTER TABLE panier_produits ADD CONSTRAINT FK_2468D6FE391C87D5 FOREIGN KEY (idProduit) REFERENCES produits (idProduit) ON DELETE CASCADE;
ALTER TABLE panier_produits RENAME INDEX idproduit TO IDX_2468D6FE391C87D5;
ALTER TABLE produits DROP FOREIGN KEY `fk_produit_user`;
DROP INDEX idx_produit_categorie ON produits;
ALTER TABLE produits CHANGE description description VARCHAR(255) DEFAULT NULL, CHANGE prix prix DOUBLE PRECISION NOT NULL, CHANGE categorie categorie VARCHAR(100) DEFAULT NULL, CHANGE uniteMesure uniteMesure ENUM('Kg','L','Piece') NOT NULL, CHANGE image image VARCHAR(255) DEFAULT NULL, CHANGE remise remise DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE typeRemise typeRemise VARCHAR(20) DEFAULT NULL;
ALTER TABLE produits ADD CONSTRAINT FK_BE2DDF8CFE6E88D7 FOREIGN KEY (idUser) REFERENCES user (id);
ALTER TABLE produits RENAME INDEX idx_produit_iduser TO IDX_BE2DDF8CFE6E88D7;
ALTER TABLE abonnement DROP FOREIGN KEY `fk_abonnement_offre`;
ALTER TABLE abonnement DROP FOREIGN KEY `fk_user_abonnement`;
ALTER TABLE abonnement CHANGE type type VARCHAR(100) DEFAULT NULL, CHANGE prix prix DOUBLE PRECISION NOT NULL, CHANGE date_debut date_debut DATE DEFAULT NULL, CHANGE date_fin date_fin DATE DEFAULT NULL, CHANGE statut statut VARCHAR(50) DEFAULT 'ACTIF', CHANGE user_id user_id INT DEFAULT NULL;
ALTER TABLE abonnement ADD CONSTRAINT FK_351268BBA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE abonnement ADD CONSTRAINT FK_351268BB4CC8505A FOREIGN KEY (offre_id) REFERENCES offre (id);
ALTER TABLE abonnement RENAME INDEX fk_user_abonnement TO IDX_351268BBA76ED395;
ALTER TABLE abonnement RENAME INDEX fk_abonnement_offre TO IDX_351268BB4CC8505A;
ALTER TABLE badge CHANGE description description VARCHAR(255) DEFAULT NULL, CHANGE icon icon VARCHAR(50) DEFAULT NULL, CHANGE condition_type condition_type ENUM('DIAGNOSTIC','POINTS','HEALTHY_PLANTS','SOLUTION') DEFAULT 'DIAGNOSTIC';
ALTER TABLE community_comments DROP FOREIGN KEY `community_comments_ibfk_1`;
ALTER TABLE community_comments DROP FOREIGN KEY `community_comments_ibfk_2`;
ALTER TABLE community_comments DROP FOREIGN KEY `fk_parent_comment`;
ALTER TABLE community_comments CHANGE content content LONGTEXT NOT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE community_comments ADD CONSTRAINT FK_ADD8530D4B89032C FOREIGN KEY (post_id) REFERENCES community_posts (id);
ALTER TABLE community_comments ADD CONSTRAINT FK_ADD8530DA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE community_comments ADD CONSTRAINT FK_ADD8530DBF2AF943 FOREIGN KEY (parent_comment_id) REFERENCES community_comments (id);
ALTER TABLE community_comments RENAME INDEX post_id TO IDX_ADD8530D4B89032C;
ALTER TABLE community_comments RENAME INDEX user_id TO IDX_ADD8530DA76ED395;
ALTER TABLE community_comments RENAME INDEX fk_parent_comment TO IDX_ADD8530DBF2AF943;
ALTER TABLE community_likes DROP FOREIGN KEY `community_likes_ibfk_1`;
ALTER TABLE community_likes DROP FOREIGN KEY `community_likes_ibfk_2`;
ALTER TABLE community_likes DROP FOREIGN KEY `community_likes_ibfk_3`;
ALTER TABLE community_likes CHANGE vote_type vote_type ENUM('LIKE','DISLIKE') NOT NULL DEFAULT 'LIKE', CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE community_likes ADD CONSTRAINT FK_32BA3439A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE community_likes ADD CONSTRAINT FK_32BA34394B89032C FOREIGN KEY (post_id) REFERENCES community_posts (id);
ALTER TABLE community_likes ADD CONSTRAINT FK_32BA3439F8697D13 FOREIGN KEY (comment_id) REFERENCES community_comments (id);
ALTER TABLE community_likes RENAME INDEX post_id TO IDX_32BA34394B89032C;
ALTER TABLE community_likes RENAME INDEX comment_id TO IDX_32BA3439F8697D13;
ALTER TABLE community_posts DROP FOREIGN KEY `community_posts_ibfk_1`;
ALTER TABLE community_posts CHANGE description description LONGTEXT DEFAULT NULL, CHANGE image_url image_url VARCHAR(500) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE community_posts ADD CONSTRAINT FK_F32DC0BEA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE community_posts ADD CONSTRAINT FK_F32DC0BEE50890C4 FOREIGN KEY (solution_comment_id) REFERENCES community_comments (id);
CREATE INDEX IDX_F32DC0BEE50890C4 ON community_posts (solution_comment_id);
ALTER TABLE community_posts RENAME INDEX user_id TO IDX_F32DC0BEA76ED395;
ALTER TABLE diagnostic DROP FOREIGN KEY `fk_diagnostic_user`;
ALTER TABLE diagnostic CHANGE date_scan date_scan DATETIME DEFAULT NULL, CHANGE image_scannee image_scannee VARCHAR(255) DEFAULT NULL, CHANGE resultat_ia resultat_ia VARCHAR(255) DEFAULT NULL, CHANGE confiance confiance DOUBLE PRECISION DEFAULT 0, CHANGE user_id user_id INT DEFAULT NULL, CHANGE latitude latitude DOUBLE PRECISION DEFAULT NULL, CHANGE longitude longitude DOUBLE PRECISION DEFAULT NULL, CHANGE location_label location_label VARCHAR(255) DEFAULT NULL, CHANGE severity severity VARCHAR(20) DEFAULT NULL;
ALTER TABLE diagnostic ADD CONSTRAINT FK_FA7C8889A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE diagnostic RENAME INDEX fk_diagnostic_user TO IDX_FA7C8889A76ED395;
ALTER TABLE farm_health_report DROP FOREIGN KEY `farm_health_report_ibfk_1`;
ALTER TABLE farm_health_report CHANGE llava_analysis llava_analysis LONGTEXT DEFAULT NULL, CHANGE generated_at generated_at DATETIME DEFAULT NULL;
ALTER TABLE farm_health_report ADD CONSTRAINT FK_5D3720A82827AAD3 FOREIGN KEY (scan_id) REFERENCES farm_health_scan (id);
ALTER TABLE farm_health_report RENAME INDEX scan_id TO IDX_5D3720A82827AAD3;
ALTER TABLE farm_health_scan DROP FOREIGN KEY `farm_health_scan_ibfk_1`;
ALTER TABLE farm_health_scan CHANGE latitude latitude DOUBLE PRECISION DEFAULT NULL, CHANGE longitude longitude DOUBLE PRECISION DEFAULT NULL, CHANGE concerns concerns LONGTEXT DEFAULT NULL, CHANGE photo_crops photo_crops VARCHAR(500) DEFAULT NULL, CHANGE photo_soil photo_soil VARCHAR(500) DEFAULT NULL, CHANGE photo_edges photo_edges VARCHAR(500) DEFAULT NULL, CHANGE photo_insects photo_insects VARCHAR(500) DEFAULT NULL, CHANGE photo_spacing photo_spacing VARCHAR(500) DEFAULT NULL, CHANGE photo_overview photo_overview VARCHAR(500) DEFAULT NULL, CHANGE scan_date scan_date DATETIME DEFAULT NULL, CHANGE status status ENUM('PENDING','PROCESSING','COMPLETED','FAILED') DEFAULT 'PENDING';
ALTER TABLE farm_health_scan ADD CONSTRAINT FK_C32EEC75A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE farm_health_scan RENAME INDEX user_id TO IDX_C32EEC75A76ED395;
ALTER TABLE offre CHANGE description description VARCHAR(255) DEFAULT NULL, CHANGE prix_mensuel prix_mensuel DOUBLE PRECISION NOT NULL, CHANGE avantages avantages LONGTEXT DEFAULT NULL, CHANGE couleur_primaire couleur_primaire VARCHAR(20) DEFAULT '#6B7F3F', CHANGE couleur_secondaire couleur_secondaire VARCHAR(20) DEFAULT '#4A5A2B', CHANGE date_creation date_creation DATETIME DEFAULT NULL;
ALTER TABLE prevention_plan DROP FOREIGN KEY `prevention_plan_ibfk_1`;
ALTER TABLE prevention_plan CHANGE problem_summary problem_summary LONGTEXT DEFAULT NULL, CHANGE steps steps LONGTEXT NOT NULL, CHANGE estimated_cost estimated_cost DOUBLE PRECISION DEFAULT NULL, CHANGE expected_outcome expected_outcome LONGTEXT DEFAULT NULL, CHANGE impact_level impact_level ENUM('HIGH','MEDIUM','LOW'), CHANGE status status ENUM('ACTIVE','COMPLETED','ABANDONED') DEFAULT 'ACTIVE', CHANGE start_date start_date DATE DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE prevention_plan ADD CONSTRAINT FK_873E4A574BD2A4C0 FOREIGN KEY (report_id) REFERENCES farm_health_report (id);
ALTER TABLE prevention_plan RENAME INDEX report_id TO IDX_873E4A574BD2A4C0;
ALTER TABLE prevention_plan RENAME INDEX vulnerability_id TO IDX_873E4A5772897D8B;
ALTER TABLE prevention_task DROP FOREIGN KEY `prevention_task_ibfk_1`;
ALTER TABLE prevention_task CHANGE status status ENUM('PENDING','COMPLETED','MISSED') DEFAULT 'PENDING', CHANGE proof_photo_url proof_photo_url VARCHAR(500) DEFAULT NULL, CHANGE completed_at completed_at DATETIME DEFAULT NULL;
ALTER TABLE prevention_task ADD CONSTRAINT FK_81ACA0FC44547A6 FOREIGN KEY (prevention_plan_id) REFERENCES prevention_plan (id);
ALTER TABLE prevention_task RENAME INDEX prevention_plan_id TO IDX_81ACA0FC44547A6;
ALTER TABLE review DROP FOREIGN KEY `review_ibfk_1`;
ALTER TABLE review DROP FOREIGN KEY `review_ibfk_2`;
ALTER TABLE review DROP FOREIGN KEY `review_ibfk_3`;
ALTER TABLE review CHANGE review_type review_type ENUM('DIAGNOSIS','PROGRESS','PREVENTION') NOT NULL, CHANGE status status ENUM('PENDING','IN_PROGRESS','COMPLETED') DEFAULT 'PENDING', CHANGE photo_url photo_url VARCHAR(500) DEFAULT NULL, CHANGE ai_analysis ai_analysis LONGTEXT DEFAULT NULL, CHANGE expert_notes expert_notes LONGTEXT DEFAULT NULL, CHANGE expert_verdict expert_verdict ENUM('CONTINUE','HEALED','WORSENED'), CHANGE expert_disease_name expert_disease_name VARCHAR(255) DEFAULT NULL, CHANGE farmer_response farmer_response ENUM('ACCEPTED','REJECTED','ACKNOWLEDGED'), CHANGE ai_proposed_plan ai_proposed_plan LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE review ADD CONSTRAINT FK_794381C6224CCA91 FOREIGN KEY (diagnostic_id) REFERENCES diagnostic (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6905FC057 FOREIGN KEY (treatment_plan_id) REFERENCES treatment_plan (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6C5568CE4 FOREIGN KEY (expert_id) REFERENCES user (id);
ALTER TABLE review ADD CONSTRAINT FK_794381C6C44547A6 FOREIGN KEY (prevention_plan_id) REFERENCES prevention_plan (id);
CREATE INDEX IDX_794381C6C44547A6 ON review (prevention_plan_id);
ALTER TABLE review RENAME INDEX diagnostic_id TO IDX_794381C6224CCA91;
ALTER TABLE review RENAME INDEX treatment_plan_id TO IDX_794381C6905FC057;
ALTER TABLE review RENAME INDEX expert_id TO IDX_794381C6C5568CE4;
ALTER TABLE traitement CHANGE description_detaillee description_detaillee LONGTEXT DEFAULT NULL, CHANGE type_traitement type_traitement ENUM('FONGICIDE','HERBICIDE','INSECTICIDE','BACTERICIDE','NEMATICIDE','VIRUCIDE','NUTRIMENT','REGULATEUR_CROISSANCE','AUTRE') DEFAULT 'AUTRE', CHANGE duree_recommandee duree_recommandee VARCHAR(50) DEFAULT NULL;
ALTER TABLE traitement ADD CONSTRAINT FK_2A356D27224CCA91 FOREIGN KEY (diagnostic_id) REFERENCES diagnostic (id);
CREATE INDEX IDX_2A356D27224CCA91 ON traitement (diagnostic_id);
ALTER TABLE treatment_plan DROP FOREIGN KEY `treatment_plan_ibfk_1`;
ALTER TABLE treatment_plan CHANGE start_date start_date DATETIME DEFAULT NULL, CHANGE status status ENUM('ACTIVE','COMPLETED','ABANDONED') DEFAULT 'ACTIVE';
ALTER TABLE treatment_plan ADD CONSTRAINT FK_1E99976C224CCA91 FOREIGN KEY (diagnostic_id) REFERENCES diagnostic (id);
ALTER TABLE treatment_plan RENAME INDEX diagnostic_id TO IDX_1E99976C224CCA91;
ALTER TABLE treatment_task DROP FOREIGN KEY `treatment_task_ibfk_1`;
ALTER TABLE treatment_task CHANGE status status ENUM('PENDING','COMPLETED','MISSED') DEFAULT 'PENDING', CHANGE tech_x tech_x DOUBLE PRECISION DEFAULT NULL, CHANGE tech_y tech_y DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE treatment_task ADD CONSTRAINT FK_91BD1734905FC057 FOREIGN KEY (treatment_plan_id) REFERENCES treatment_plan (id);
ALTER TABLE treatment_task RENAME INDEX treatment_plan_id TO IDX_91BD1734905FC057;
ALTER TABLE user CHANGE role role ENUM('ADMIN','AGRICULTEUR','CLIENT','AGRONOME') NOT NULL DEFAULT 'AGRICULTEUR', CHANGE points points INT DEFAULT 0 NOT NULL, CHANGE level level INT DEFAULT 1 NOT NULL, CHANGE two_factor_enabled two_factor_enabled TINYINT DEFAULT 0 NOT NULL, CHANGE two_factor_code two_factor_code VARCHAR(10) DEFAULT NULL, CHANGE two_factor_expires_at two_factor_expires_at DATETIME DEFAULT NULL, CHANGE fingerprint_signature fingerprint_signature LONGTEXT DEFAULT NULL, CHANGE points_fidelite points_fidelite DOUBLE PRECISION DEFAULT 0 NOT NULL, CHANGE reset_password_code reset_password_code VARCHAR(10) DEFAULT NULL, CHANGE reset_password_expires_at reset_password_expires_at DATETIME DEFAULT NULL, CHANGE phone phone VARCHAR(20) DEFAULT NULL, CHANGE location location VARCHAR(255) DEFAULT NULL;
ALTER TABLE user_badge CHANGE acquired_at acquired_at DATETIME DEFAULT NULL;
ALTER TABLE user_badge RENAME INDEX badge_id TO IDX_1C32B345F7A2C2FC;
ALTER TABLE vulnerability DROP FOREIGN KEY `vulnerability_ibfk_1`;
ALTER TABLE vulnerability CHANGE type type ENUM('PEST_OUTBREAK_RISK','DISEASE_RISK','NUTRIENT_DEFICIENCY','LOW_POLLINATION','SOIL_DEGRADATION') NOT NULL, CHANGE severity severity ENUM('CRITICAL','MEDIUM','LOW') NOT NULL, CHANGE description description LONGTEXT DEFAULT NULL, CHANGE risk_score risk_score DOUBLE PRECISION DEFAULT NULL, CHANGE estimated_cost_if_occurs estimated_cost_if_occurs DOUBLE PRECISION DEFAULT NULL;
ALTER TABLE vulnerability ADD CONSTRAINT FK_6C4E40474BD2A4C0 FOREIGN KEY (report_id) REFERENCES farm_health_report (id);
ALTER TABLE vulnerability RENAME INDEX report_id TO IDX_6C4E40474BD2A4C0;
